{% extends 'base.html' %}

{% block content %}
{% if user.is_staff %}
<a class="btn btn-primary" href="/new_order/" role="button">Nuevo lote</a>
{% endif %}
<br><br>
<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Fecha de cierre</th>
        <th scope="col">Portes</th>
        <th scope="col">Cerrado</th>
        {% if user.is_staff %}
        <th scope="col">Actualizar</th>
        {% else %}
        <th scope="col">Acciones</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for order in order_list %}
    <tr>
        <td>{{order.date}}</td>
        <td>{{order.shipping}}</td>
        <td>{% if order.closed %}Sí{% else %}No{% endif %}</td>
        {% if user.is_staff %}
        <td>
            {% if not order.closed %}
            <a class="btn btn-primary" href="/update_order/{{order.id}}" role="button">Editar</a>
            <a class="btn btn-danger" href="/delete_order/{{order.id}}" role="button">Eliminar</a>
            {% else %}
            <a class="btn btn-success" href="/order/{{order.id}}/details" role="button">Detalles</a>
            {% endif %}
            <a class="btn btn-dark" href="/order/{{order.id}}" role="button">Lista</a>
        </td>
        {% else %}
        <td>
            {% if not order.closed %}
            <a class="btn btn-dark" href="/update_user/{{order.id}}/{{user.id}}" role="button">Pedido</a>
            {% endif %}
        </td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
