{% extends 'base.html' %}

{% block content %}
<a class="btn btn-primary" href="/new_batch/" role="button">Nuevo lote</a>
<br><br>
<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Fecha de cierre</th>
        <th scope="col">Portes</th>
        <th scope="col">Cerrado</th>
        <th scope="col">Actualizar</th>
    </tr>
    </thead>
    <tbody>
    {% for order in order_list %}
    <tr>
        <td>{{order.date}}</td>
        <td>{{order.shipping}}</td>
        <td>{% if order.closed %}Sí{% else %}No{% endif %}</td>
        <td>
            <a class="btn btn-primary {% if order.closed %}disabled{% endif %}" href="{% if order.closed %}#{% else %}/update_order/{{order.id}}{% endif %}" role="button">Editar</a>
            <a class="btn btn-danger {% if order.closed %}disabled{% endif %}" href="{% if order.closed %}#{% else %}/delete_order/{{order.id}}{% endif %}" role="button">Eliminar</a>
            <a class="btn btn-dark {% if order.closed %}disabled{% endif %}" href="{% if order.closed %}#{% else %}/order/{{order.id}}{% endif %}" role="button">Lista</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
