{% extends 'base.html' %}

{% block content %}
<a class="btn btn-primary" href="/new_user/{{order}}" role="button">Nuevo pedido</a>
<br><br>
<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Usuario</th>
        <th scope="col">Pagado</th>
        <th scope="col">Actualizar</th>
    </tr>
    </thead>
    <tbody>
    {% for user in user_list %}
    <tr>
        <td>{{user.name}}</td>
        <td>{% if user.paid %}Sí{% else %}No{% endif %}</td>
        <td>
            <a class="btn btn-primary {% if order.closed %}disabled{% endif %}" href="{% if order.closed %}#{% else %}/update_user/{{order}}/{{user.id}}{% endif %}" role="button">Editar</a>
            <a class="btn btn-danger {% if order.closed %}disabled{% endif %}" href="{% if order.closed %}#{% else %}/delete_user/{{user.id}}{% endif %}" role="button">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
